### 5. 데이터 불러오기와 간단한 분속까지

In [40]:
# 필요한 모듈 불러오기
import pandas as pd

#### 5.1 파일 다루기  
<small>
csv, json    
</small>

csv 파일 불러오기

In [44]:
# 판다스를 사용해서 csv 파일 불러오기
# pd.read_csv(파일의 경로)
# 상대경로/절대경로
# 현재 나의 위치: python-data-study
# 찾고자 하는 파일: sample1.csv
# read_csv는 csv파일을 읽어서 데이터 프레임으로 반환
df = pd.read_csv('sample/sample1.csv') # 상대경로
print(df)
# 읽어온 데이터 속성 확인
# 행열 이름 확인
print(df.index)
df.columns
# 행 인덱스: 자동으로 정수 인덱스가 설정됨
# 열 인덱스: 자동으로 첫번째 행이 컬럼으로 설정됨

# 행 인덱스 바꾸기
# 학번을 인덱스로 설정
df.set_index('student_id')

   student_id  math  eng  kor
0         101    80   95   88
1         102    92   85   90
2         103    75   80   66
RangeIndex(start=0, stop=3, step=1)

            math  eng  kor
student_id
101           80   95   88
102           92   85   90
103           75   80   66

csv 파일 불러오기

In [14]:
# sample 폴더 아래 2번째 csv파일 불러오기
# 판다스 사용
# 파일에 한글이 포함되어 있으면, 한글을 지원하는 인코딩 설정
# 한글을 지원하는 인코딩: utf-8, euc-kr
df = pd.read_csv('sample/sample2.csv', encoding='euc-kr')
print(df)
# 나중에 데이터를 쉽게 조회/수정/삭제하기 위해
# 상품명을 행 인덱스로 설정
# set_index는 결과만 반환하고, 원본데이터에는 영향 없음
# 교체
df = df.set_index('상품명')

print(df.index)
print(df.columns)

   상품명       가격  재고
0  노트북  1200000   5
1  키보드    29000  20
2  마우스    19000  15
Index(['노트북', '키보드', '마우스'], dtype='object', name='상품명')
Index(['가격', '재고'], dtype='object')

In [21]:
df = pd.read_csv('sample/sample2.csv', encoding='euc-kr')
df
# 상품명 컬럼을 유지하면서,
# 상품명을 행인덱스로 설정하기
df.index = df['상품명']
df

     상품명       가격  재고
상품명
노트북  노트북  1200000   5
키보드  키보드    29000  20
마우스  마우스    19000  15

JSON 파일 불러오기1  
<small>
파이썬의 딕셔너리와 구조가 비슷  
json 파일을 파싱한다 => json 데이터를 파이썬에서 사용할 수 있는 형태로 변환한다.  
json 작성 방법:
key.value  
object: { }  
list: [ ]  
</small>

In [25]:
import json
# 파이썬 방식으로 파일 열기
f = open('sample/sample3.json', 'r')
# json 모듈로 파일을 닥셔너리로 변환
dic = json.load(f)
dic

{'id': 101, 'name': 'alice', 'age': 30}

json 파일 불러오기2

In [28]:
# 파이썬 방식으로 파일 불러오기
f = open('sample/sample4.json','r', encoding='utf-8')
# json 파일을 딕셔너리로 변환
dic = json.load(f)
dic

{'name': '홍길동', 'age': 25, 'city': '서울'}

In [30]:
# 왜 파일의 내용을 딕셔너리로 변환해야 할까?
# f도 read readline 함수를 지원함
# read나 readline은 텍스트를 통으로 가져오기 때문에
# 내가 원하는 값만 추출하기 어려움

In [37]:
# 딕셔너리에서 키와 값 꺼내기
dic.items()
for key, value in dic.items():
    print(key, value)

name 홍길동
age 25
city 서울

JSON 파일 불러오기 3

In [40]:
# json 파일 불러오기 (1)
f = open('sample/sample5.json', 'r', encoding='utf-8')
dic = json.load(f)
dic

[{'name': '홍길동', 'age': 25, 'city': '서울'},
 {'name': '김철수', 'age': 30, 'city': '부산'}]

In [46]:
# json 파일 불러오기 (2)
# 판다스를 사용해서 파일을 바로 dataframe으로 변환
# 단건 데이터는 데이터프레임으로 변환할 수 없다.
# 리스트 데이터만 데이터프레임으로 변환할 수 있다.
df = pd.read_json('sample/sample5.json')
print(df.index) # 정수 인덱스
print(df.columns) # 키 -> 컬럼
# 데이터 꺼내기
# 홍길동의 나이
df.loc[0, 'age']
# 김철수의 모든 데이터 꺼내기
df.loc[1]
df.loc[1, :]

RangeIndex(start=0, stop=2, step=1)
Index(['name', 'age', 'city'], dtype='object')

name    김철수
age      30
city     부산
Name: 1, dtype: object

### 5.3 데이터베이스 연결하기  
<small>
설치형 데이터베이스: mysql, oracle, ..<br>   
파일형 데이터베이스: sqlite, ..<br>    
파일형 데이터베이스는 파일만 있으면 어디서든 열 수 있다.<br>    
</small>

데이터베이스 연결 및 테이블 생성

In [2]:
# 모듈 불러오기
import sqlite3

In [3]:
# 데이터베이스 연결 또는 생성
# connect(데이터베이스 이름)
con = sqlite3.connect('mydata.sqlite')

In [4]:

# 학생의 정보를 저장할 테이블 생성
# 데이터베이스 명령: sql(쿼리)
# create
# insert select update delete
# commit rollback
con.execute('CREATE TABLE student(id INTEGER, name TEXT, age INTEGER)')
# 테이블 데이터 추가
con.execute("INSERT INTO student VALUES (1, '둘리', 25)")
con.execute("INSERT INTO student VALUES (2, '도우너', 30)")
con.commit()

In [19]:
cur = con.execute('SELECT * FROM student')
# fetchall()은 데이터베이스 쿼리 결과의 모든 행(row)을 한 번에 리스트(list)로 반환하는 함수
rows = cur.fetchall()
for tup in rows:
    print(tup)

(1, '둘리', 25)
(2, '도우너', 30)

In [20]:
# 1번 학생만 조회
cur = con.execute('SELECT * FROM student WHERE id = 1')
# fetchone()은 데이터베이스 쿼리 결과에서 한 번에 하나의 행(row)만 반환하는 함수
row = cur.fetchone()
row

(1, '둘리', 25)

### 5.3 공동데이터 활용하기

인천 지역의 9/14 날씨 데이터 가져오기

In [33]:
# csv 파일 읽어서 데이터 프레임으로 반환
df = pd.read_csv('sample/OBS_ASOS_TIM_20250916161105.csv', encoding='euc-kr')
# 행열 이름은 자동으로 설정됨
# 행은 정수, 열은 csv의 첫번째 행
df

     지점 지점명                일시    기온  습도
0   112  인천   2025-09-14 1:00  22.2  84
1   112  인천   2025-09-14 2:00  21.8  86
2   112  인천   2025-09-14 3:00  21.7  87
3   112  인천   2025-09-14 4:00  21.4  87
4   112  인천   2025-09-14 5:00  21.2  87
5   112  인천   2025-09-14 6:00  21.2  87
6   112  인천   2025-09-14 7:00  21.3  87
7   112  인천   2025-09-14 8:00  22.3  86
8   112  인천   2025-09-14 9:00  22.9  85
9   112  인천  2025-09-14 10:00  23.8  82
10  112  인천  2025-09-14 11:00  24.6  79
11  112  인천  2025-09-14 12:00  25.9  71
12  112  인천  2025-09-14 13:00  26.9  64
13  112  인천  2025-09-14 14:00  27.4  61
14  112  인천  2025-09-14 15:00  27.7  65
15  112  인천  2025-09-14 16:00  27.4  70
16  112  인천  2025-09-14 17:00  27.0  68
17  112  인천  2025-09-14 18:00  26.4  70
18  112  인천  2025-09-14 19:00  25.2  73
19  112  인천  2025-09-14 20:00  24.7  78
20  112  인천  2025-09-14 21:00  24.5  82
21  112  인천  2025-09-14 22:00  24.2  85
22  112  인천  2025-09-14 23:00  23.9  84
23  112  인천   2025-09-15 0:00  23.7  84

하루 평균 기온과 습도 구하기

In [36]:
print(int(df['기온'].mean()))
print(int(df['습도'].mean()))

24
78

In [41]:
# idxmax : 가장 큰 값이 포함되어 있는 행의 위치
i = df['기온'].idxmax()
# 현재 행의 이름과 위치가 같음
df.loc[i, '일시']

'2025-09-14 15:00'