### 판다스(pandas)  
데이터를 관리하기 위한 모듈로, 시리즈와 데이터 프레임을 제공함

In [29]:
# 모듈 불러오기
# 판다스  모듈을 pd 라고 부른다.
import pandas as pd
import numpy as np

#### 4.1 시리즈 (series)
<small>
데이터를 한줄로 담는 자료 구조이다.<br>
리스트와 다른 점은 데이터에 이름포를 붙일 수 있다. (index)
</small>

In [8]:
# 시리즈 생성
s = pd.Series([1,2,3,4])
print(s)
# 인덱스가 자동으로 설정됨 (0~3)
# 시리즈의 인덱스 확인
s.index

0    1
1    2
2    3
3    4
dtype: int64

RangeIndex(start=0, stop=4, step=1)

시리즈 생성2

In [11]:
# 인덱스를 직접 설정하여 시리즈 생성
# pd.Series(값목록, 인덱스)
s = pd.Series([1,2,3], index = ['a','b','c'])
print(s)
# 인덱스 확인
s.index

a    1
b    2
c    3
dtype: int64

Index(['a', 'b', 'c'], dtype='object')

시리즈에서 값 꺼내기  
<small>
값을 찾는 방법: 인덱스의 이름과 위치<br>
loc 함수: 인덱스 이름으로 데이터를 찾는다.<br>
iloc 함수: 인덱스 위치로 데이터를 찾는다.<br>
대괄호[]: 인덱스 이름으로 데이터를 찾는다.
</small>

In [18]:
print(s)
# 이 시리즈의 인덱스 이름: a, b, c
# 이 시리즈의 인덱스 위치: 0, 1, 2 (고민할 필요x)

# 인덱스 이름으로 숫자 1꺼내기
s.loc['a']
# 인덱스 이름으로 숫자 2꺼내기
s['b']
# 인덱스 위치로 숫자 3 꺼내기
# s.iloc[위치]
s.iloc[2]

a    1
b    2
c    3
dtype: int64

np.int64(3)

시리즈 값 수정하기

In [27]:
print(s)
# 1을 0으로 변경
# 찾기 -> 변경
s.loc['a'] = 0
# 3을 99로 변경
s['c'] = 99
s

a     0
b     2
c    99
dtype: int64

a     0
b     2
c    99
dtype: int64

#### 4.2 데이터 프레임 (DataFrame)
<small>
표 형식의 2차원 데이터를 담기 위한 자료 구조
</small>

데이터 프레임 생성1

In [36]:
# 도시별 인구 데이터를 담은 데이터 프레임 생성
# 데이터 먼저 만들기 (dic)
# city 라는 열 하나
data = {'city' : ['서울','인천'],
        'pop' : [990, 240]}
# pd.DataFrame(값, [인덱스], [컬럼])
df = pd.DataFrame(data)
df

# 행열의 이름을 따로 설정하지 않으면 자동으로 설정됨
print(df.index) # 행 이름: 0,1
print(df.columns) # 열 이름: dic의 key (city, pop)

RangeIndex(start=0, stop=2, step=1)
Index(['city', 'pop'], dtype='object')

데이터 프레임 생성2

In [45]:
# 학생 성적 데이터 만들기
# dic, list
# 넘파이의 다차원 배열 사용하여 2차원 배열 생성
data = np.array([ [60,70,80], [70,80,90], [80,90,100] ])
# 성적 데이터를 담아서 데이터 프레임 생성
# 이 점수가 누구의 어떤 점수인지 알기 위해, 이름표 붙이기
# 행 이름: 학새으이 이름
# 열 이름: 과목명
df = pd.DataFrame(data, index = ['둘리','또치','도우너'], columns = ['국어','영어','수학'])
# 행 인덱스
df.index
# 열 컬럼
print(df.columns)

Index(['국어', '영어', '수학'], dtype='object')

데이터 프레임에서 데이터 꺼내기<br>
<small>
loc: 행열 이름으로 데이터를 꺼낸다.<br>
iloc: 행열 위치로 데이터를 꺼낸다.<br>
[]:  행열 이름으로 데이터를 꺼낸다.
</small>

In [52]:
print(df)
# loc[행이름, 열이름]
# 전체 데이터
df.loc[ : ,  : ] 
# 둘리의 국어 점수
df.loc['둘리','국어']
# 도우너의 수학 점수
df.loc['도우너','수학']

     국어  영어   수학
둘리   60  70   80
또치   70  80   90
도우너  80  90  100

np.int64(100)

In [56]:
print(df)
# 프레임에서 []대괄호를 쓰면, 열만 입력 가능
# [열 이름]
# 모든 학생의 국어 점수
df['국어']
# 모든 학생의 영어 점수
df['영어']

     국어  영어   수학
둘리   60  70   80
또치   70  80   90
도우너  80  90  100

둘리     70
또치     80
도우너    90
Name: 영어, dtype: int64

데이터 프레임에 새로운 열 추가

In [66]:
# 새로운 과목 추가
# 새오룽 열 = 리스트
# 맨 뒤에 추가됨
# df['과학'] = [60,70,80]
# df
# 이번에는 두번째 위치에 '미술' 과목을 추가
# df.insert(위치, 컬럼명, 값리스트)
df.insert(2, '미술', [70,80,90])
df

     국어  영어  미술   수학  과학
둘리   60  70  70   80  60
또치   70  80  80   90  70
도우너  80  90  90  100  80

데이터 프레임에서 열 삭제  
<small>
del: 원본에서 바로 삭제  
drop: 원본은 그대로, 결과만 보여줌
</small>

In [ ]:
# 과학 과목 삭제
# del df['과학']
print(df)

# 수학 과목 삭제
# drop(형 또는 열의 이름, 방향)
# axis=1 또는 axis='columns'
# df = df.drop('수학', axis=1) #엑시스(축, 방향)
# df

# 또치 학생 삭제 (행 삭제)
# axis = 0 또는 axis = 'row'
# drop은 원본에 영향 없음
# 결과를 원본에 교체
df = df.drop('또치', axis = 0)

df

#### 4.3 데이터 계산과 처리

시리즈에서 계산과 조건 검색

In [84]:
# 숫자가 담긴 리스트 생성
lis = [-2,-1,0,1,2]
# 모든 원소에 1만큼 더하기
sum = 0
for i in lis:
    print(i+1)

-1
0
1
2
3

In [85]:
# 숫자가 담긴 시리즈 생성
s = pd.Series([-2,-1,0,1,2])

# 모든 원소에 1만큼 
# 판다스의 시리즈는 for 없이 반복 수행 가능
s + 1

0   -1
1    0
2    1
3    2
4    3
dtype: int64

In [86]:
s = pd.Series([-2,-1,0,1,2])
# 모든 원소에 1만큼 
# s + 1
s.add(1)

0   -1
1    0
2    1
3    2
4    3
dtype: int64

In [92]:
s
# 조건 검색 (양수만 찾기)
# 불리언 배열 만들기
# Series > int => 시리즈의 전체 데이터와 0을 비교
s > 0
# 불리언 배열은 시리즈의 인덱스로 사용할 수 있다.
# true인 값만 남음
s[s > 0]

3    1
4    2
dtype: int64

In [98]:
# 조건검색2(짝수만 찾기)
s = pd.Series(np.arange(1,11))
s
# 짝수만 찾기
# 시리즈 전체 데이터에 계산식이 적용됨 -> bool 10개 반환
s % 2 == 0
# bool 배열을 시리즈의 인덱스로 사용
s[s % 2 == 0]

1     2
3     4
5     6
7     8
9    10
dtype: int64

In [ ]:
# 자주 사용하는 통계 함수: sum mean max min
# numpy의 배열, pandas의 시리즈와 데이터프레임 모두 사용 가능

In [115]:
# 학생 성적 데이터 만들기
data = np.array([[60,70,80],[70,80,90],[80,90,10]])
# 성적 데이털ㄹ 담아서 프레임 생성|
df = pd.DataFrame(data, index = ['둘리','또치','도우너'], columns = ['국어','영어','수학'])
df

     국어  영어  수학
둘리   60  70  80
또치   70  80  90
도우너  80  90  10

In [114]:
# 국어 과목만 조회
df['국어']
# 국어 과목아 담겨있는 값의 자료형
df['국어'].dtype
# 국어 과목의 자료 구조
type(df['국어'])
# 데이터프레임은 여러 시리즈의 묶음

pandas.core.series.Series

In [111]:
# 전체 점수에 1점씩 더하기
df + 1
# 국어점수만 10점씩 더하기
df['국어'] + 1

둘리     61
또치     71
도우너    81
Name: 국어, dtype: int64

In [112]:
# 조건 검색 (국어 점수가 70점 이상인 학생만 찾기)
df['국어'] >= 70
# 프레임에 bool 배열을 인덱스로 사용
df[df['국어'] >= 70]

     국어  영어  수학
또치   70  80  90
도우너  80  90  10

데이터프레임의 정렬  
<small>
시험 성적 순위를 매길때 사용
</small>

In [119]:
# 시험 성적에서 국어 점수를 기준으로 정렬
df.sort_values('국어')
# 국어 점수를 기준으로 내림차순 정렬
# 정렬 기준: 오름차순 (1 -> 10) / 내림차순 (10 -> 1)
# ascending: 오름차순 (True) 내림차순 (False)
df.sort_values('국어', ascending = False)

     국어  영어  수학
도우너  80  90  10
또치   70  80  90
둘리   60  70  80

In [130]:
# 랜덤 함수로 시험 점수 생성
# 범위: 60점~100점
# 개수: 9개
data = np.random.randint(60,100,9)
# 2차원 배열로 변환
arr = data.reshape(3,3)
arr
# 프레임 생성
df = pd.DataFrame(arr, index = ['둘리','또치','도우너'],
                  columns = ['수학','영어','과학'])
print(df)
# 영어 점수가 높은 사람 순으로 정렬
df.sort_values('영어', ascending = False)

     수학  영어  과학
둘리   79  77  71
또치   99  86  68
도우너  78  88  73

     수학  영어  과학
도우너  78  88  73
또치   99  86  68
둘리   79  77  71

nan 처리  
<small>
누락된 갑스 빈값   
예를 들어 엑셀에서 빈 셀을 표현할 때  
nan은 float타입에서만 표현 가능
</small>

In [131]:
df

     수학  영어  과학
둘리   79  77  71
또치   99  86  68
도우너  78  88  73

In [135]:
# 둘리의 영어점수를 빈값(nan)으로 표시
# 빈 값을 넣으면 해당 값이 들어간 열이 float 타입으로 자동 형변환됨
# df.loc['둘리','영어'] = np.nan
df

     수학    영어  과학
둘리   79   NaN  71
또치   99  86.0  68
도우너  78  88.0  73

In [138]:
# 빈 값이 있는 행 삭제
df = df.dropna(axis = 0)
df

     수학    영어  과학
또치   99  86.0  68
도우너  78  88.0  73

In [139]:
# 또치의 과학 점수를 빈값으로 설정
df.loc['또치','과학'] = np.nan
df

     수학    영어    과학
또치   99  86.0   NaN
도우너  78  88.0  73.0

In [140]:
# 비어있는 점수를 모두 0으로 설정
df.fillna(0)

     수학    영어    과학
또치   99  86.0   0.0
도우너  78  88.0  73.0