In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('quiz/products.csv', encoding='utf-8')
df

   상품명    가격  재고
0   사과  3000  10
1  바나나  2000  20
2   포도  4000  15
3   딸기  5000   8

In [7]:
df = df.set_index('상품명')
df

       가격  재고
상품명
사과   3000  10
바나나  2000  20
포도   4000  15
딸기   5000   8

In [8]:
df.index

Index(['사과', '바나나', '포도', '딸기'], dtype='object', name='상품명')

In [9]:
df.loc['사과','가격']

np.int64(3000)

In [10]:
df.loc['바나나','재고']

np.int64(20)

In [11]:
df.loc['포도','가격'] = 4500
df

       가격  재고
상품명
사과   3000  10
바나나  2000  20
포도   4500  15
딸기   5000   8

In [12]:
df.loc['딸기','재고'] = 10
df

       가격  재고
상품명
사과   3000  10
바나나  2000  20
포도   4500  15
딸기   5000  10

In [103]:
df = pd.read_csv('quiz/sales.csv', encoding='euc-kr')
df

  month  sales  profit
0    1월   1000     200
1    2월   1500     300
2    3월   2000     400
3    4월   2500     500

In [104]:
df = df.set_index('month')
df

       sales  profit
month
1월      1000     200
2월      1500     300
3월      2000     400
4월      2500     500

In [19]:
df.columns

Index(['sales', 'profit'], dtype='object')

In [20]:
df.loc[:, 'sales']

month
1월    1000
2월    1500
3월    2000
4월    2500
Name: sales, dtype: int64

In [21]:
df.loc['2월']

sales     1500
profit     300
Name: 2월, dtype: int64

In [25]:
print('합계:', df['profit'].sum(axis = 0))
print('평균:', df['profit'].mean(axis = 0))

합계: 1400
평균: 350.0

In [28]:
df[df['profit'] >= 300]

       sales  profit
month
2월      1500     300
3월      2000     400
4월      2500     500

In [105]:
df = df.drop(['4월'], axis = 0)
df

       sales  profit
month
1월      1000     200
2월      1500     300
3월      2000     400

In [32]:
df = pd.read_csv('quiz/weather.csv', encoding='euc-kr')
df

  city  spring  summer  winter
0   서울      15      28       2
1   부산      17      29       5
2   인천      14      27       3
3   대구      18      30       1

In [34]:
df.loc[:, 'spring']

0    15
1    17
2    14
3    18
Name: spring, dtype: int64

In [36]:
df.loc[0]

city      서울
spring    15
summer    28
winter     2
Name: 0, dtype: object

In [38]:
df['winter'].mean(axis = 0)

np.float64(2.75)

In [40]:
df[df['summer'] >= 28]

  city  spring  summer  winter
0   서울      15      28       2
1   부산      17      29       5
3   대구      18      30       1

In [41]:
df = pd.read_json('quiz/products.json')
df

   상품명    가격  재고
0   사과  3000  10
1  바나나  2000  20
2   포도  4000  15
3   딸기  5000   8

In [43]:
df[df['가격'] >= 3000]

  상품명    가격  재고
0  사과  3000  10
2  포도  4000  15
3  딸기  5000   8

In [53]:
int(df['가격'].mean())

3750

In [47]:
df = df.set_index('상품명')
df

       가격  재고
상품명
사과   3000  10
바나나  2000  20
포도   4000  15
딸기   5000   8

In [48]:
df['총액'] = df['가격'] * df['재고']
df

       가격  재고     총액
상품명
사과   3000  10  30000
바나나  2000  20  40000
포도   4000  15  60000
딸기   5000   8  40000

In [50]:
df.loc['딸기','가격'] = 6000
df

       가격  재고     총액
상품명
사과   3000  10  30000
바나나  2000  20  40000
포도   4000  15  60000
딸기   6000   8  40000

In [51]:
df = df.drop(['재고'], axis = 1)
df

       가격     총액
상품명
사과   3000  30000
바나나  2000  40000
포도   4000  60000
딸기   6000  40000

In [54]:
df = pd.read_json('quiz/books.json')
df

          제목   저자     가격  대출가능권수
0  데이터 분석 입문  김철수  18000       3
1  파이썬 프로그래밍  이영희  22000       5
2    머신러닝 기초  박민수  25000       2
3    인공지능 시대  최지연  30000       1
4  데이터베이스 개론  홍길동  20000       4

In [55]:
df[df['가격'] >= 20000]

          제목   저자     가격  대출가능권수
1  파이썬 프로그래밍  이영희  22000       5
2    머신러닝 기초  박민수  25000       2
3    인공지능 시대  최지연  30000       1
4  데이터베이스 개론  홍길동  20000       4

In [56]:
df[df['대출가능권수'] <= 2]

        제목   저자     가격  대출가능권수
2  머신러닝 기초  박민수  25000       2
3  인공지능 시대  최지연  30000       1

In [58]:
df.sort_values('가격', ascending = False)

          제목   저자     가격  대출가능권수
3    인공지능 시대  최지연  30000       1
2    머신러닝 기초  박민수  25000       2
1  파이썬 프로그래밍  이영희  22000       5
4  데이터베이스 개론  홍길동  20000       4
0  데이터 분석 입문  김철수  18000       3

In [59]:
df.sort_values('대출가능권수', ascending = False)

          제목   저자     가격  대출가능권수
1  파이썬 프로그래밍  이영희  22000       5
4  데이터베이스 개론  홍길동  20000       4
0  데이터 분석 입문  김철수  18000       3
2    머신러닝 기초  박민수  25000       2
3    인공지능 시대  최지연  30000       1

In [62]:
print(int(df['가격'].mean()))

23000

In [84]:
df = pd.read_csv('sample/인천광역시_정류장별 이용승객 현황_20250731.csv', encoding='euc-kr')

In [87]:
df[df['총승차건수'] >= 100000]

,정류소명,정류소아이디,총승차건수,총하차건수,승차건수(카드),하차건수(카드),승차건수(현금),일평균승하차건수
1798,동암남부역,40797,126437,108459,126437,108459,0,7577
1829,동인천역,35185,101169,46791,101169,46791,0,4772
1938,롯데백화점(인천터미널),37513,171449,155415,171449,155415,0,10544
1939,롯데백화점(인천터미널),39588,158171,116540,158171,116540,0,8861
3392,송내역남부,56002,140367,119838,140367,119838,0,8393
3671,시민공원역.포레나미추홀,37326,105656,20031,105656,20031,0,4054
5132,인하대역(7번출구),37091,106013,79294,106013,79294,0,5977
5501,주안역환승정류장,37617,112937,89282,112937,89282,0,6523

In [89]:
df[df['총하차건수'] == 0]

         정류소명  정류소아이디  총승차건수  총하차건수  승차건수(카드)  하차건수(카드)  승차건수(현금)  일평균승하차건수
127    가나안마을앞   43905      9      0         9         0         0         0
323    강화산단입구   90097     11      0        11         0         0         0
512      경동택배   89315     71      0        71         0         0         2
550       경전말   43934     17      0        17         0         0         0
653    고비고개정상   43569      3      0         3         0         0         0
...       ...     ...    ...    ...       ...       ...       ...       ...
6196  한국콘베어공업   92049     21      0        21         0         0         0
6379      허튼개   90120     13      0        13         0         0         0
6453  현대철강레이져   90221     17      0        16         0         1         0
6520    화개사입구   90035    119      0       118         0         1         3
6611     효자교앞   90199      8      0         8         0         0         0

[136 rows x 8 columns]

In [91]:
df[df['승차건수(현금)'] >= 100]

      정류소명  정류소아이디  총승차건수  총하차건수  승차건수(카드)  하차건수(카드)  승차건수(현금)  일평균승하차건수
346  강화터미널   43096  60873  42403     60439     42403       434      3331

In [92]:
df[df['승차건수(현금)'] > df['승차건수(카드)']]

         정류소명  정류소아이디  총승차건수  총하차건수  승차건수(카드)  하차건수(카드)  승차건수(현금)  일평균승하차건수
917   국화리야영장앞   43843      1     52         0        52         1         1
2942   상용진료소앞   90004      2     69         0        69         2         2
5149    인화성입구   90063      2     24         0        24         2         0

In [3]:
df = pd.read_csv('sample/인천광역시 중구_공영주차장 현황_20250601.csv', encoding = 'utf-8')
df

,주차장관리번호,주차장명,주차장구분,주차장유형,소재지도로명주소,소재지지번주소,주차구획수,급지구분,부제시행구분,운영요일,...,1일주차권요금,월정기권요금,결제방법,특기사항,관리기관명,전화번호,위도,경도,장애인전용주차구역보유여부,데이터기준일자
0,161-2-000169,을왕리 공영주차장,공영,노외,인천광역시 중구 용유서로 297-3,인천광역시 중구 을왕동 711-3,138,3,요일제,평일+토요일+공휴일,...,NaN,NaN,NaN,NaN,인천광역시 중구청,032-763-8146,37.444765,126.376048,Y,2025-06-01
1,161-2-000170,왕산 공영주차장,공영,노외,인천광역시 중구 용유서로423번길 4,인천광역시 중구 을왕동 776-14,186,3,요일제,평일+토요일+공휴일,...,NaN,NaN,NaN,NaN,인천광역시 중구청,032-763-8146,37.455910,126.371510,Y,2025-06-01
2,161-2-000171,무의(광명항) 공영주차장,공영,노외,NaN,인천광역시 중구 무의동 50-18,180,기타,미시행,평일+토요일+공휴일,...,NaN,NaN,NaN,NaN,인천광역시 중구청,032-760-7797,37.379153,126.432902,Y,2025-06-01
3,161-1-000172,영종역일원(노상) 공영주차장,공영,노상,NaN,인천광역시 중구 운북동 464,103,3,요일제,평일+토요일+공휴일,...,NaN,NaN,NaN,NaN,인천광역시 중구청,032-763-8146,37.510818,126.524106,Y,2025-06-01
4,161-1-000173,공항신도시 공영주차장,공영,노상,NaN,인천광역시 중구 운서동 2818,224,2,미시행,평일+토요일+공휴일,...,NaN,NaN,NaN,NaN,인천광역시 중구청,032-763-8146,37.494289,126.481847,Y,2025-06-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165,161-1-000011,신포로35번길제3노상주차장,공영,노상,인천광역시 중구 신포로39번길 15(송학동3가),인천광역시 중구 송학동3가 7-13,3,기타,미시행,평일+토요일+공휴일,...,NaN,NaN,NaN,NaN,인천광역시 중구청,032-760-7689,37.472493,126.625052,N,2025-06-01
166,161-1-000012,신포로노상주차장,공영,노상,인천광역시 중구 송학로 42(내동),인천광역시 중구 내동 2-26,10,기타,미시행,평일+토요일+공휴일,...,NaN,NaN,NaN,NaN,인천광역시 중구청,032-760-7689,37.474643,126.627076,N,2025-06-01
167,161-1-000013,신포로35번길제4노상주차장,공영,노상,"인천광역시 중구 신포로35번길 54(송학동2가, 동국빌리지)",인천광역시 중구 송학동2가 16,19,기타,미시행,평일+토요일+공휴일,...,NaN,NaN,NaN,NaN,인천광역시 중구청,032-760-7689,37.473292,126.623605,N,2025-06-01
168,161-1-000014,신포로23번길제2노상주차장,공영,노상,인천광역시 중구 신포로23번길 52(중앙동3가),인천광역시 중구 중앙동3가 3-13,23,기타,미시행,평일+토요일+공휴일,...,NaN,NaN,NaN,NaN,인천광역시 중구청,032-760-7689,37.472488,126.622474,N,2025-06-01
169,161-1-000015,신포로15번길제2노상주차장,공영,노상,인천광역시 중구 신포로23번길 52(중앙동3가),인천광역시 중구 중앙동3가 3-13,22,기타,미시행,평일+토요일+공휴일,...,NaN,NaN,NaN,NaN,인천광역시 중구청,032-760-7689,37.472488,126.622474,N,2025-06-01

In [5]:
df[df['주차구획수'] >= 100]

,주차장관리번호,주차장명,주차장구분,주차장유형,소재지도로명주소,소재지지번주소,주차구획수,급지구분,부제시행구분,운영요일,...,1일주차권요금,월정기권요금,결제방법,특기사항,관리기관명,전화번호,위도,경도,장애인전용주차구역보유여부,데이터기준일자
0,161-2-000169,을왕리 공영주차장,공영,노외,인천광역시 중구 용유서로 297-3,인천광역시 중구 을왕동 711-3,138,3,요일제,평일+토요일+공휴일,...,NaN,NaN,NaN,NaN,인천광역시 중구청,032-763-8146,37.444765,126.376048,Y,2025-06-01
1,161-2-000170,왕산 공영주차장,공영,노외,인천광역시 중구 용유서로423번길 4,인천광역시 중구 을왕동 776-14,186,3,요일제,평일+토요일+공휴일,...,NaN,NaN,NaN,NaN,인천광역시 중구청,032-763-8146,37.455910,126.371510,Y,2025-06-01
2,161-2-000171,무의(광명항) 공영주차장,공영,노외,NaN,인천광역시 중구 무의동 50-18,180,기타,미시행,평일+토요일+공휴일,...,NaN,NaN,NaN,NaN,인천광역시 중구청,032-760-7797,37.379153,126.432902,Y,2025-06-01
3,161-1-000172,영종역일원(노상) 공영주차장,공영,노상,NaN,인천광역시 중구 운북동 464,103,3,요일제,평일+토요일+공휴일,...,NaN,NaN,NaN,NaN,인천광역시 중구청,032-763-8146,37.510818,126.524106,Y,2025-06-01
4,161-1-000173,공항신도시 공영주차장,공영,노상,NaN,인천광역시 중구 운서동 2818,224,2,미시행,평일+토요일+공휴일,...,NaN,NaN,NaN,NaN,인천광역시 중구청,032-763-8146,37.494289,126.481847,Y,2025-06-01
8,161-2-000155,차이나타운공영주차장,공영,노외,인천광역시 중구 차이나타운로44번길 28-12,인천광역시 중구 북성동2가 12-36,186,1,미시행,평일+토요일+공휴일,...,10000.0,100000.0,현금+신용카드,NaN,인천광역시 중구청,032-763-8146,37.476054,126.618355,Y,2025-06-01
9,161-2-000157,월미도제2공영주차장,공영,노외,NaN,인천광역시 중구 북성동1가 97-32,136,2,미시행,평일+토요일+공휴일,...,6000.0,60000.0,현금+신용카드,NaN,인천광역시 중구청,032-763-8146,37.477431,126.598529,Y,2025-06-01
16,161-2-000165,동화마을공영주차장,공영,노외,인천광역시 중구 제물량로 307-1,인천광역시 중구 송월동2가 4,100,1,미시행,평일+토요일+공휴일,...,10000.0,NaN,현금+신용카드,NaN,인천광역시 중구청,032-763-8146,37.479024,126.618624,Y,2025-06-01
19,161-3-000168,중구청사 부설주차장,공영,부설,인천광역시 중구 신포로27번길 80,인천광역시 중구 관동1가 9-1,159,1,요일제,평일+토요일+공휴일,...,10000.0,NaN,현금+신용카드,NaN,인천광역시 중구청,032-763-8146,37.474081,126.621340,Y,2025-06-01
31,161-2-000148,구인천여고공영주차장,공영,노외,인천광역시 중구 참외전로 100,인천광역시 중구 전동 2-5,102,3,미시행,평일+토요일+공휴일,...,4000.0,40000.0,현금+신용카드,NaN,인천광역시 중구청,032-579-2701,37.477113,126.629501,Y,2025-06-01
45,161-2-000131,인하대병원사거리공영주차장,공영,노외,인천광역시 중구 아암대로 12(신흥동3가),인천광역시 중구 신흥동3가 7-317,101,2,미시행,평일+토요일+공휴일,...,6000.0,60000.0,현금+신용카드,NaN,인천광역시 중구청,032-763-8146,37.459986,126.637497,Y,2025-06-01
58,161-2-000114,한중문화관공영주차장,공영,노외,NaN,인천광역시 중구 항동2가 1-1,109,1,미시행,평일+토요일+공휴일,...,10000.0,100000.0,현금+신용카드,NaN,인천광역시 중구청,032-763-8146,37.473104,126.619040,Y,2025-06-01
64,161-2-000120,해양광장공영주차장,공영,노외,인천광역시 중구 연안부두로36,인천광역시 중구 항동7가 58-1,220,1,미시행,평일+토요일+공휴일,...,10000.0,100000.0,현금+신용카드,NaN,인천광역시 중구청,032-763-8146,37.455496,126.601827,Y,2025-06-01

In [7]:
df[df['평일운영종료시각'] == '21:00']

,주차장관리번호,주차장명,주차장구분,주차장유형,소재지도로명주소,소재지지번주소,주차구획수,급지구분,부제시행구분,운영요일,...,1일주차권요금,월정기권요금,결제방법,특기사항,관리기관명,전화번호,위도,경도,장애인전용주차구역보유여부,데이터기준일자
8,161-2-000155,차이나타운공영주차장,공영,노외,인천광역시 중구 차이나타운로44번길 28-12,인천광역시 중구 북성동2가 12-36,186,1,미시행,평일+토요일+공휴일,...,10000.0,100000.0,현금+신용카드,NaN,인천광역시 중구청,032-763-8146,37.476054,126.618355,Y,2025-06-01

In [9]:
df[df['요금정보'] == '무료']

,주차장관리번호,주차장명,주차장구분,주차장유형,소재지도로명주소,소재지지번주소,주차구획수,급지구분,부제시행구분,운영요일,...,1일주차권요금,월정기권요금,결제방법,특기사항,관리기관명,전화번호,위도,경도,장애인전용주차구역보유여부,데이터기준일자
2,161-2-000171,무의(광명항) 공영주차장,공영,노외,NaN,인천광역시 중구 무의동 50-18,180,기타,미시행,평일+토요일+공휴일,...,NaN,NaN,NaN,NaN,인천광역시 중구청,032-760-7797,37.379153,126.432902,Y,2025-06-01
5,161-2-000152,전동그린맨션뒤공영주차장,공영,노외,NaN,인천광역시 중구 전동 25-113,10,기타,미시행,평일+토요일+공휴일,...,NaN,NaN,NaN,NaN,인천광역시 중구청,032-760-7689,37.478812,126.626609,Y,2025-06-01
10,161-2-000158,월미도1공영주차장,공영,노외,NaN,인천광역시 중구 북성동1가 98-143,24,기타,미시행,평일+토요일+공휴일,...,NaN,NaN,NaN,NaN,인천광역시 중구청,032-579-2701,37.475151,126.601951,Y,2025-06-01
11,161-2-000159,월미도2공영주차장,공영,노외,NaN,인천광역시 중구 북성동1가 98-139,39,기타,미시행,평일+토요일+공휴일,...,NaN,NaN,NaN,NaN,인천광역시 중구청,032-579-2701,37.475416,126.601691,Y,2025-06-01
12,161-2-000160,월미도3공영주차장,공영,노외,NaN,인천광역시 중구 북성동1가 98-154,61,기타,미시행,평일+토요일+공휴일,...,NaN,NaN,NaN,NaN,인천광역시 중구청,032-579-2701,37.475255,126.601345,Y,2025-06-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165,161-1-000011,신포로35번길제3노상주차장,공영,노상,인천광역시 중구 신포로39번길 15(송학동3가),인천광역시 중구 송학동3가 7-13,3,기타,미시행,평일+토요일+공휴일,...,NaN,NaN,NaN,NaN,인천광역시 중구청,032-760-7689,37.472493,126.625052,N,2025-06-01
166,161-1-000012,신포로노상주차장,공영,노상,인천광역시 중구 송학로 42(내동),인천광역시 중구 내동 2-26,10,기타,미시행,평일+토요일+공휴일,...,NaN,NaN,NaN,NaN,인천광역시 중구청,032-760-7689,37.474643,126.627076,N,2025-06-01
167,161-1-000013,신포로35번길제4노상주차장,공영,노상,"인천광역시 중구 신포로35번길 54(송학동2가, 동국빌리지)",인천광역시 중구 송학동2가 16,19,기타,미시행,평일+토요일+공휴일,...,NaN,NaN,NaN,NaN,인천광역시 중구청,032-760-7689,37.473292,126.623605,N,2025-06-01
168,161-1-000014,신포로23번길제2노상주차장,공영,노상,인천광역시 중구 신포로23번길 52(중앙동3가),인천광역시 중구 중앙동3가 3-13,23,기타,미시행,평일+토요일+공휴일,...,NaN,NaN,NaN,NaN,인천광역시 중구청,032-760-7689,37.472488,126.622474,N,2025-06-01
169,161-1-000015,신포로15번길제2노상주차장,공영,노상,인천광역시 중구 신포로23번길 52(중앙동3가),인천광역시 중구 중앙동3가 3-13,22,기타,미시행,평일+토요일+공휴일,...,NaN,NaN,NaN,NaN,인천광역시 중구청,032-760-7689,37.472488,126.622474,N,2025-06-01

In [14]:
print(df['주차구획수'].sum())
print(df['주차구획수'].mean())

5494
32.31764705882353